<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Список продуктов</title>
    <link rel="stylesheet" href="../../resources/static/style.css" th:href="@{resources/static/style.css}">
</head>
<body>
<div class="container">
    <div class="outer header">
        <div class="inner">id</div>
        <div class="inner item">name</div>
        <div class="inner item">cost</div>
    </div>
        <div class="outer" th:each="product: ${products}">
        <div class="inner" th:text="${product.id}">id</div>
        <div class="inner item" th:text="${product.name}">name</div>
        <div class="inner item" th:text="${product.cost}">cost</div>
    </div>
    <div class="form">
        <form action="#" th:action="@{/product/add}" th:object="${newProduct}" method="post">
            <input type="text" value="ID" th:field="*{id}"/>
            <input type="text" value="Название" th:field="*{name}"/>
            <input type="text" value="Цена" th:field="*{cost}"/>
            <input type="submit" value="Добавить">
        </form>
    </div>
<!--    <div class="form">-->
<!--        <form action="#" th:action="@{/product/search}" th:object="${findId}" method="post">-->
<!--            <input type="text" value="ID" th:field="*{id}"/>-->
<!--            <input type="submit" value="Найти">-->
<!--        </form>-->
<!--    </div>-->
</div>
</body>
</html>